:root{
    --topbar-height: 4rem;
    --mid-margin:.5rem;
    --secondary-color: rgb(12,23,33);
    --primary-color: rgb(20,30,50);
    --secondary-contrast: rgb(150,200,230);
    --radius: .2rem;
    --gap:1rem;
    font-family:monospace;
}
#topbar{
    background: var(--secondary-color);
    height: var(--topbar-height);
    display: flex;
}
#settings{
    width: var(--topbar-height);
    height: var(--topbar-height);
    background-color: transparent;
    outline: none;
    border:none;
    padding: .5rem;
    margin-right: .2rem;
}
#settings:hover{
    cursor: pointer;
}
#settings > img{
    width: 100%;
    height: 100%;
}
#nodes{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1rem var(--mid-margin);
}
body{
    margin:0px;
    user-select: none;
}
.node{
    background-color: var(--secondary-color);
    color: white;
    border:none;
    margin-right: var(--mid-margin);
    width: fit-content;
    height: 100%;
    border-radius: var(--radius);
}
.selected{
    outline: 2px solid var(--secondary-contrast);
}
.bulk{
    font-weight: bolder;
    background-color: rgba(1,1,1,0.2);
}
.bulk.selected{
    outline: var(--radius) solid var(--secondary-contrast);
}
#scroll{
    box-sizing: border-box;
    overflow: scroll;
    display: flex;
    padding:1rem;
    background-color: transparent;
    height: calc(100vh - var(--topbar-height));
    background-color: var(--primary-color);
}
#grid{
    display: flex;
    flex-wrap: wrap;
    gap:var(--gap);
    height: min-content;
    width: 100%;
}

.item{
    position: relative;
    flex-grow: 1;
    display: flex;
    box-sizing: border-box;
    background-color: white;
    max-width: 12rem;
    min-width: 10rem;
    aspect-ratio: 7/10 ;
    position:relative;
    background-image:var(--img);
    overflow: hidden;
    background-size:cover;
    background-position: center;
    background-blend-mode:soft-light;
    background-color: var(--secondary-color);
    border-radius: var(--radius);
    border: var(--radius) solid var(--secondary-contrast);
}
.itemInner{
    color:white;
    aspect-ratio: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.remove,.add{
    color:white;
    position:absolute;
    top:50%;
    width: 40%;
    height: 40%;
    margin:0% 5%;
    background-color: var(--secondary-color);
    border-radius: var(--radius);
}
.remove{
    left:50%;
}
.stock{
    position: relative;
    width: 100%;
    height: 10%;
    margin:5% 5% 0% 5%;
    background-color: red;
}
.buttonWrapper{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 30%;
    display: flex;
    background-color: blue;
    align-self: flex-end;
}
.inner{
    top:0%;
    left:0%;
    height: 100%;
    background-color: tan;
    width: calc(var(--inner) * 100%);
    position:absolute;
}
.overlaytext{
    top:100%;
    position: absolute;
    z-index: 2;
}
.minindicator{
    position: absolute;
    top:0%;
    height: 100%;
    left:calc(var(--min) * 100%);
    width: 3px;
    background-color: black;
}